@import "_helpers";

body, html {
  font-family: "Asea", serif;
  height: 100%;
}

body {
  margin: 0px;
}

section {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -49px;
}

#svalbard {
  width: 50vw;
  max-width: 500px;
  min-width: 175px;
}

#owl {
  position: absolute;
  top: 160px;
  right: 60px;
  width: 50px;
  &:hover {
    cursor: pointer;
  }
  @media (min-width: 500px) {
    width: 75px;
  }
}

#grow {
  position: absolute;
  top: 0px;
  .text {
    margin: 1em;
  }
}
