body, html {
  font-family: "Monaco", monospace;
  font-size: 14px;
  height: 100%;
}

body {
  margin: 0px;
  overflow-y: hidden;
}

#egg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 22px;
}

nav {
  width: 134px;
  margin: 5px auto 0;
}

nav #petal-left {
  padding: 0 6px 6px 0;
}

nav #petal-right {
  padding-bottom: 2px;
}

.bg {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

.revealer:hover {
  cursor: pointer;
}

.typed {
  position: absolute;
  top: 20px;
}
