html
	head
		title Atrium of the Sun
		link(rel="stylesheet" href="css/animsition.min.css" type="text/css")
		link(rel="stylesheet" href="css/styles.min.css" type="text/css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		header
			h2.title
				a(href="/index.html") Atrium of the Sun
			h3 
				a(href="/index.html") &#10035;
		main
			link(rel="stylesheet" href="css/one.min.css" type="text/css")
			div.bg.one
			div.bg.two
			img(src="assets/img/1.jpg" class="burst")
			div.img-container
				img(src="assets/img/merlin.svg" class="merlin")
				p ☉
			a(href="/two.html")
				img(src="assets/img/sun.png" class="sun")
			
		footer
			script(src="js/jquery-3.1.1.min.js")
			script(src="js/animsition.min.js")
			script(src="js/scripts.min.js")