html
	head
		title Atrium of the Sun
		link(rel="stylesheet" href="css/styles.min.css" type="text/css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		header
			h2.title
				a(href="/index.html") Atrium of the Sun
			h3 
				a(href="/index.html") &#10035;
			
		main
			img(src="assets/img/1.jpg")
			
		footer
			script(src="js/scripts.min.js")