@import "_nav";
@import "_fonts";

body {
  font-family: "Asea", serif;
  background: url(../assets/01/39-shell-mouth-rightsized.jpg) top center;
  background-repeat: no-repeat;
}

section {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -49px;
}

#svalbard {
  width: 50vw;
  max-width: 500px;
  min-width: 175px;
}

#owl {
  position: absolute;
  top: 160px;
  right: 60px;
  width: 50px;
  &:hover {
    cursor: pointer;
  }
  @media (min-width: 500px) {
    width: 75px;
  }
}
