@import '_mixins';

.bg-one {
	@include bg(url(../assets/img/1.jpg));
}

.bg-two {
	@include bg(url(../assets/img/2.jpg), .3)
}

.img-container {
	p {
		text-align: center;
		animation: blink 15s ease-in-out alternate infinite;
	}
}

.merlin {
	height: 200px;
	margin: 30vh auto 0;
	position: relative;
	filter: blur(3px);
	transition: .5s;
	cursor: help;
	&:hover {
		filter: blur(0px);
		transition: .5s;
	}
}

.burst {
	position: absolute;
	right: 0px;
	width: 50px;
	height: 50px;
	z-index: 9999;
	@media (min-width: 900px) {
		width: 200px;
	}
	img {
		width: inherit;
	}
}

.sun {
	position: absolute;
	width: 100px;
	bottom: 20px;
	left: 20px;
	animation: pulse 1s ease-in-out alternate infinite;
	img {
		width: inherit;
	}
}

@keyframes pulse {
	from { transform: scale(1); }
	to { transform: scale(1.1); }
}

@keyframes blink {
	from { opacity: 0; }
	to { opacity: 1; }
}
