@import '_mixins';

.bg-one {
	@include bg(url(../assets/img/1.jpg));
}

.bg-two {
	@include bg(url(../assets/img/2.jpg), .3)
}

.img-container {
	p {
		text-align: center;
		animation: blink 15s ease-in-out alternate infinite;
	}
}

@keyframes blink {
	from { opacity: 0; }
	to { opacity: 1; }
}

.merlin {
	height: 200px;
	margin: 30vh auto 0;
	position: relative;
	filter: blur(3px);
	transition: .5s;
	&:hover {
		filter: blur(0px);
		transition: .5s;
	}
}

.burst {
	width: 50px;
	left: calc(100vw - 50px);
	@media (min-width: 900px) {
		width: 300px;
		left: calc(100vw - 300px);
	}
}

.sun {
	height: 100px;
	top: calc(100vh - 120px);
	left: 20px;
	animation: pulse 1s ease-in-out alternate infinite;
}

@keyframes pulse {
	from { transform: scale(1); }
	to { transform: scale(1.1); }
}
