@font-face {
	font-family: 'Asea';
	src: url('../assets/fonts/AseaR.ttf') format('truetype'),
	url('../assets/fonts/AseaR.woff') format('woff');
}

html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

html {
	font-family: 'Asea', Georgia, 'Times New Roman', Times, serif;
}

header {
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 999;
	h2.title {
		font-style: italic;
		font-weight: 400;
		margin: 50px 0 15px;
	}
	h3 {
		margin: 0px;
	}
}

a, a:visited, a:active {
	color: inherit;
	text-decoration: none;
}

.bg { 
	width: 100%;
	height: 100%; 
	position: absolute;
}

img {
	position: absolute;
}

.img-container {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

main {
	animation: fadeIn .25s ease-in both;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.isExiting {
	animation-direction: alternate-reverse;
}